@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;800&display=swap');

:root {
  /* primary colors */
  --Light-cyan: hsl(193, 38%, 86%);
  --Neon-green: hsl(150, 100%, 66%);
  /* neutral colors */
  --Grayish-blue: hsl(217, 19%, 38%);
  --Dark-grayish-blue: hsl(217, 19%, 24%);
  --Dark-blue: hsl(218, 23%, 16%);

  font-family: Manrope, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.15;
  font-weight: 400;

  color-scheme: dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--Dark-blue);
  color: var(--Light-cyan);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  padding: 1rem;
}

p {
  line-height: 1.5;
}

.attribution {
  margin: 0 1rem 1rem 1rem;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: var(--Neon-green);
}